{% extends 'base.html' %}

{% block main %}
        <form action="/best" method="POST">
            {% for item in people %}
            <label for="{{loop.index}}"><a class="a-p" href="data/{{item[3]}}">{{item[2]}} played by {{item[0]}} {{item[1]}}: </a></label>
            <input id="{{loop.index}}" type="checkbox" name="{{item[3]}}" value="1"></input><br>
            {% endfor %}
            <label for="dummy">Don't submit data</label>
            <input id="dummy" type="checkbox" name="dummy" value="1"></input><br>
            <label for="or">Update with "or"</label>
            <input id="or" type="checkbox" name="or" value="1"></input><br>
            <button type="submit" value="Submit">Submit</button>
        </form>
{% endblock %}
